[submodule "node/nvm.symlink"]
	path = node/nvm.symlink
	url = https://github.com/creationix/nvm.git
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
