/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 200;
  src: url('patched/Hack-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 700;
  src: url('patched/Hack-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Hack';
  font-style: italic;
  font-weight: 400;
  src: url('patched/Hack-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Hack';
  font-style: italic;
  font-weight: 700;
  src: url('patched/Hack-BoldItalic.ttf') format('ttf');
}

