@font-face {
    font-family: 'Source Code Pro Nerd Fonts Complete';
    font-style: normal;
    font-weight: 200;
    src:  url('https://github.com/thisishuey/dotfiles/blob/master/blink/fonts/source-code-pro-nerd-fonts-complete/light.otf?raw=true') format('opentype');
}
@font-face {
    font-family: 'Source Code Pro Nerd Fonts Complete';
    font-style: normal;
    font-weight: 400;
    src:  url('https://github.com/thisishuey/dotfiles/blob/master/blink/fonts/source-code-pro-nerd-fonts-complete/regular.otf?raw=true') format('opentype');
}
@font-face {
    font-family: 'Source Code Pro Nerd Fonts Complete';
    font-weight: 500;
    src:  url('https://github.com/thisishuey/dotfiles/blob/master/blink/fonts/source-code-pro-nerd-fonts-complete/medium.otf?raw=true') format('opentype');
}
@font-face {
    font-family: 'Source Code Pro Nerd Fonts Complete';
    font-weight: 700;
    src: url('https://github.com/thisishuey/dotfiles/blob/master/blink/fonts/source-code-pro-nerd-fonts-complete/bold.otf?raw=true') format('opentype');
}
